{% extends "base.html" %}

{% block title%}Login{% endblock %}

{% block content %}
<main class="d-flex flex-column container align">
    <div class="d-flex align-items-center justify-content-center h-100">
        <div class="p-5 shadow border border-dark w-100">
            <form method="POST">
                {% csrf_token %}
                {% for field_error in form.errors.values %}
                    <div class="text-danger">{{field_error}}</div>
                {% endfor %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.auto_id }}"> {{field.label}}</label>
                    {{field}}
                </div>
                {% endfor %}
                <input type="text" name="redirect" value="{{url_redirect}}" id="redirect" hidden="">
                <button type="submit" class="btn btn-primary"> Login </button>
            </form>
        </div>
    </div>
</main>
{% endblock %}